body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  flex-direction: column;
  -webkit-appearance: none;
}

fieldset {
  border-radius: 0.2em;
  margin: auto;
  max-width: 25em;
  padding: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-radius: 9px;
}
fieldset ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0.6em 0;
}
fieldset ul li {
  margin: 0 0.6em 0.6em 0.6em;
  text-align: center;
}
fieldset ul li:nth-child(1), fieldset ul li:nth-child(11) {
  text-align: unset;
  background-color: #ffffff;
  margin: 0.3em;
}
fieldset ul li:nth-child(1) span img, fieldset ul li:nth-child(11) span img {
  height: 2em;
}
fieldset ul li:nth-child(1) span:nth-child(2), fieldset ul li:nth-child(11) span:nth-child(2) {
  float: right;
}
fieldset ul li:nth-child(7), fieldset ul li:nth-child(8) {
  display: flex;
}
fieldset ul li:nth-child(2), fieldset ul li:nth-child(10) {
  text-align: center;
  padding: 0.6em;
  margin: 0 0 0.6em 0;
}
fieldset ul li:nth-child(9) {
  text-align: justify;
  font-size: 70%;
}
fieldset ul li:nth-child(10) {
  font-size: 70%;
}
fieldset ul li:nth-child(4) {
  display: flex;
}
fieldset ul li:nth-child(4) div {
  width: 50%;
  clear: both;
}
fieldset ul li:nth-child(4) div:nth-child(1) {
  margin: 0 0.3em 0 0;
}
fieldset ul li:nth-child(4) div:nth-child(2) {
  margin: 0 0 0 0.3em;
}
fieldset ul li label {
  font-weight: normal;
  display: block;
  margin-top: 5px;
  margin-bottom: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 0.6em;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0.8em;
  color: #919191;
  font-weight: bold;
}
fieldset ul li input[type=text] {
  width: 90%;
  padding: 0.3em 0.4em 0.3em 0.2em;
  font-size: 110%;
  border: hidden;
  border-bottom: 1px solid #919191;
}
fieldset ul li input[type=text]::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 0.3;
}
fieldset ul li input[name=expyear], fieldset ul li input[name=expmonth] {
  width: 1.4em;
}
fieldset ul li input[name=cvv2] {
  width: 2em;
}
fieldset ul li button[name=pay] {
  background-color: #6cb72f;
  color: #FFFFFF;
  min-width: 95%;
  margin: auto;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 0.4em 0.3em;
  font-size: 140%;
}
fieldset ul li button[name=pay]:hover, fieldset ul li button[name=pay]:focus {
  background-color: #5c9c28;
}
fieldset ul li button[name=pay] span {
  display: inline-block;
  padding: 2px 7px 4px 4px;
  font-weight: bold;
  line-height: 1;
  color: #6cb72f;
  background-color: #fff;
  border-radius: 10px;
  float: none;
  font-size: 90%;
}
fieldset ul li button[name=decline] {
  min-width: 20%;
  font-size: 80%;
  margin: auto;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 2px 7px 4px 4px;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #ccc;
}
fieldset ul li button[name=decline]:hover, fieldset ul li button[name=decline]:focus {
  background-color: #e57566;
}

/*# sourceMappingURL=style2.css.map */
